#logo{
    position: fixed;
    left: 670px;
    top: 100px;
    max-width: 15%;
    border-radius: 5px;
}

#seconnecter{
    position: fixed;
    left:700px;
    top: 300px;
}

#connexion{
    font-size: 30px;
    font-family: "Roboto", serif;
    left:20px;
}

#info{
    position: static;
    margin-left:-10px;
}

#button{
    position: static;
    margin-left:20px;
    margin-top:20px;
}