.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {
  background-color: #000704;
  color: white;
}
.button1{border: 2px solid #555555;}
.block1 {
  display: inline-block;
  justify-content: space-between;
}
.block2 {
  display: inline-block;
  justify-content: space-between;
  margin-left: 60%;
}
header {
  display: flex;
  background-image: url('../media/pictures/image_header_appartement.png');
  background-position: center;
  height: 100px;
}

body {
    text-align: center;
}

.Barre-de-recherche {
    display: inline-block;
    margin-top: 50px;
}

