#pp{
    width: 10%;
    margin-top:50px;
    margin-left:400px
}

#infos{
    margin-top:10px;
    margin-left:410px
}

#critère{
    margin-top: 300px;
    margin-left:700px;
    font-size: 30px;
    font-family: "Roboto", serif;
}

#bandeau{
    background-color: rgb(94, 132, 235);
}

#id{
    margin-top: -400px;
    margin-left:1050px;
    font-size: 20px;
    font-family: "Roboto", serif;
}

#p1{
    margin-top:100px;
    background-color: rgb(94, 132, 235);
}


#p2{
    margin-left:700px;
    font-size: 30px;
    font-family: "Roboto", serif;
}


#buttoncritère{
    margin-top: 250px;
    margin-left:350px;
    width: 50%;
}


  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    margin: 80px 0;
    width: 50%;
  }

#bo{
    margin-top: 10px;
    margin-left:350px;
    width: 50%;
}

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }